#tools {
    display: flex;
}

#tools section, #tools form {
    border: 2px solid black;
    width: 33%;
}

canvas {
    margin-top: 20px;
    border: black 5px solid;
    width: 100%;
    object-fit: contain;
}