#tools {
    display: flex;
}

#tools section, #tools form {
    border: 2px solid black;
    width: 33%;
}

#canvasContainer {
    height: 500px;
    margin-top: 20px;
}

canvas {
    border: black 5px solid;
    width: 100%;
    height: 100%;
    object-fit: contain;
}